<?xml version="1.0" encoding="UTF-8"?>
<server description="Microprofile with MariaDB demo">

	<featureManager>
		<feature>microProfile-5.0</feature>
		<feature>webProfile-9.1</feature>
	</featureManager>

	<httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" />

	<webApplication location="${project.name}.war" contextRoot="${app.context.root}">
		<classloader apiTypeVisibility="+third-party" />
	</webApplication>

	<library id="jdbcLib">
		<fileset dir="jdbc" includes="*.jar" />
	</library>

	<dataSource id="DefaultDataSource" jndiName="jdbc/mariadb-database" type="java.sql.Driver">
		<jdbcDriver libraryRef="jdbcLib" />
		<properties URL="jdbc:mariadb://localhost:3306/microprofile_demo" user="user" password="Password123!" />
		<!--
		If you are using MariaDB SkySQL (https://mariadb.com/products/skysql),
		enable SSL and specify the path to the CA chain file that you can download
		from the SkySQL Portal (https://cloud.mariadb.com):
			jdbc:mariadb://demo-db0000xxxx.mdb000xxxx.db.skysql.net:5047/microprofile_demo?sslMode=verify-ca&serverSslCert=/path/to/your/skysql_chain.pem   
		-->
	</dataSource>

</server>